img {
    width: 500px;
    height: auto;
    margin-left: 10em;
}
h1,
h2,
h3 {
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #0f6319;
}

h2 {
    color: #0f6343;
}

h3 {
    text-decoration: underline;
    color: #430f63;
}

p {
    color: #0f2f63;
}

.text {
    font-family: "Verdana", sans-serif;
}

.recipe {
    color: blue;
    background-color: #0f6343;

}

.ingredients,
.directions {
    color: #630f59;
}

.ingredients {
    background-color: #0f6343;
    padding-top: 20px;
    padding-bottom: 20px;
}

.directions {
    background-color: #699e6f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description {
    margin: 10px auto;
    text-align: center;
}